.login input[type=button]{

	background: #FF8400;
	border: none;
	cursor: pointer;
	border-radius: 3px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 10px;
	font-weight: 400;
	float: right;
    margin-top: 22px;
    margin-right: 15px;
    width: 8%;
    height: 32px;
	transition:0s;
}
.login input[type=button]:hover{
transition:0s;
background:#ffb362;
}

.login-full-navbar input[type=button]
{
	margin-top: 20px !important;
	z-index: 10;
}

