#home { 

height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
	margin-top: -100px;
}
 
.container
{
    background-color: #fff!important;
	position: absolute;
}

.shead
{
	margin: 0px;
    padding: 5px;
    font-family: monospace;
	font-size: 48px;
	text-align: center;
  color: black;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
  }

.sdetails
{
	font-size: 20px;
    width: 75%;
    margin-left: 10%;
    text-align: center;
}

hr
{
	width: 100%;
     border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
}

#models
{
    height: 920px;
}

.gala
{
    margin-left: 10%;
    height:349px;
    overflow: hidden;
    z-index: 0;
    width: 600px;
    margin-right: 0px;
    float: left;
    
}

/*#model
{
	width: 100%;
}
*/
.text
{ 
    background-color: rgba(255,255,255,0.6);
    padding: 25px;
	position: absolute;
	z-index: 2;
    transition: background-color 0.3s ease;

}
.text p
{
    margin: 0px;
    color: black;
    font-size: 28px;


}

.av
{
    height: 349px;
    overflow: hidden;
    z-index: 0;
    margin-right: 0px;
    float: left;
    width: 500px;
}

.sesto
{
    margin-left: 10%;
    height: 349px;
    overflow: hidden;
    margin-bottom: 10px;
    z-index: 0;
    margin-right: 0px;
    float: left;
    width: 500px;

}

.hura
{
    height:340px;
    overflow: hidden;
    margin-bottom: 10px;
    z-index: 0;
    width: 600px;
    margin-right: 0px;
    float: left;
}

.text7 p
{
    margin: 0px;
    color: black;
    font-size: 28px;

}

.text7
{ 
    background-color: rgba(255,255,255,0.6);
    padding: 25px;
	position: absolute;
	z-index: 2;
    margin-left: 34%;
    transition: background-color 0.3s ease;

}

.textx p
{
    margin: 0px;
    color: black;
    font-size: 28px;
}

.textx
{ 
    background-color: rgba(255,255,255,0.6);
    padding: 25px;
	position: absolute;
	z-index: 2;
    margin-left: 25%;
    transition: background-color 0.3s ease;

}
p a
{
    text-decoration: none;
    color: black;
}
.text:hover
{
        background-color: rgba(255,255,255,0.9);

}
.textx:hover
{
        background-color: rgba(255,255,255,0.9);

}.text7:hover
{
        background-color: rgba(255,255,255,0.9);

}
